/* @import "tailwindcss"; */
/* @config '../tailwind.config.ts'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
   --figtree: "Figtree", Helvetica, Arial, sans-serif;
   --color-blue-50: #e7ebfb;
  --color-blue-100: #ccd5f8;
  --color-blue-200: #acbdf4;
  --color-blue-300: #86a1f1;
  --color-blue-400: #4f7fed;
  --color-blue-500: #1365e0;
  --color-blue-600: #115ac9;
  --color-blue-700: #0f4eae;
  --color-blue-800: #0c408e;
  --color-blue-900: #092d64;
  --primitive-sand-50: #fcfbf8;
  --primitive-sand-100: #fffbf0;
  --primitive-sand-200: #fcf6e5;
  --primitive-sand-300: #f4efdc;
  --primitive-sand-400: #eae1c0;
  --primitive-sand-500: #c9c1a6;
  --primitive-sand-600: #a9a28a;
  --primitive-sand-700: #8a8571;
  --primitive-sand-800: #565243;
  --primitive-sand-900: #353228;
  --primitive-primary-50: #bdffeb;
  --primitive-primary-100: #88ffdb;
  --primitive-primary-200: #4cfdc7;
  --primitive-primary-300: #2fe8af;
  --primitive-primary-400: #1bcd97;
  --primitive-primary-500: #11ac7c;
  --primitive-primary-600: #0b8c64;
  --primitive-primary-700: #0a6b4d;
  --primitive-primary-800: #034531;
  --primitive-primary-900: #01271c;
  --primitive-general-white: #ffffff;
  --primitive-general-black: #000000;
  --primitive-gray-50: #f9fafb;
  --primitive-gray-100: #f3f4f6;
  --primitive-gray-200: #e5e7eb;
  --primitive-gray-300: #d1d5db;
  --primitive-gray-400: #9ca3af;
  --primitive-gray-500: #6b7280;
  --primitive-gray-600: #4b5563;
  --primitive-gray-700: #374151;
  --primitive-gray-800: #1f2937;
  --primitive-gray-900: #111827;
  --primitive-gray-950: #111827;
  --primitive-zinc-50: #fafafa;
  --primitive-zinc-100: #f4f4f5;
  --primitive-zinc-200: #e4e4e7;
  --primitive-zinc-300: #d4d4d8;
  --primitive-zinc-400: #a1a1aa;
  --primitive-zinc-500: #71717a;
  --primitive-zinc-600: #52525b;
  --primitive-zinc-700: #3f3f46;
  --primitive-zinc-800: #27272a;
  --primitive-zinc-900: #18181b;
  --primitive-zinc-950: #09090b;
  --primitive-red-50: #fef2f2;
  --primitive-red-100: #fee2e2;
  --primitive-red-200: #fecaca;
  --primitive-red-300: #fca5a5;
  --primitive-red-400: #f87171;
  --primitive-red-500: #ef4444;
  --primitive-red-600: #dc2626;
  --primitive-red-700: #b91c1c;
  --primitive-red-800: #991b1b;
  --primitive-red-900: #7f1d1d;
  --primitive-red-950: #450a0a;
  --primitive-amber-50: #fffbeb;
  --primitive-amber-100: #fef3c7;
  --primitive-amber-200: #fde68a;
  --primitive-amber-300: #fcd34d;
  --primitive-amber-400: #fbbf24;
  --primitive-amber-500: #f59e0b;
  --primitive-amber-600: #d97706;
  --primitive-amber-700: #b45309;
  --primitive-amber-800: #92400e;
  --primitive-amber-900: #78350f;
  --primitive-amber-950: #431407;
  --primitive-green-50: #f0fdf4;
  --primitive-green-100: #dcfce7;
  --primitive-green-200: #bbf7d0;
  --primitive-green-300: #86efac;
  --primitive-green-400: #4ade80;
  --primitive-green-500: #22c55e;
  --primitive-green-600: #16a34a;
  --primitive-green-700: #15803d;
  --primitive-green-800: #166534;
  --primitive-green-900: #14532d;
  --primitive-green-950: #052e16;
  --primitive-emerald-50: #ecfdf5;
  --primitive-emerald-100: #d1fae5;
  --primitive-emerald-200: #a7f3d0;
  --primitive-emerald-300: #6ee7b7;
  --primitive-emerald-400: #34d399;
  --primitive-emerald-500: #10b981;
  --primitive-emerald-600: #059669;
  --primitive-emerald-700: #047857;
  --primitive-emerald-800: #065f46;
  --primitive-emerald-900: #064e3b;
  --primitive-emerald-950: #052e16;
  --primitive-blue-50: #eff6ff;
  --primitive-blue-100: #dbeafe;
  --primitive-blue-200: #bfdbfe;
  --primitive-blue-300: #93c5fd;
  --primitive-blue-400: #60a5fa;
  --primitive-blue-500: #3b82f6;
  --primitive-blue-600: #2563eb;
  --primitive-blue-700: #1d4ed8;
  --primitive-blue-800: #1e40af;
  --primitive-blue-900: #1e3a8a;
  --primitive-blue-950: #172554;
  --primitive-rose-50: #fff1f2;
  --primitive-rose-100: #ffe4e6;
  --primitive-rose-200: #fecdd3;
  --primitive-rose-300: #fda4af;
  --primitive-rose-400: #fb7185;
  --primitive-rose-500: #f43f5e;
  --primitive-rose-600: #e11d48;
  --primitive-rose-700: #be123c;
  --primitive-rose-800: #9f1239;
  --primitive-rose-900: #881337;
  --primitive-rose-950: #4c0519;
  --primitive-smoke-50: #4a4950;
  --primitive-smoke-100: #434248;
  --primitive-smoke-200: #3c3b40;
  --primitive-smoke-300: #353438;
  --primitive-smoke-400: #2d2c30;
  --primitive-smoke-500: #252528;
  --primitive-smoke-600: #202022;
  --primitive-smoke-700: #1b1b1d;
  --primitive-smoke-800: #161618;
  --primitive-smoke-900: #111113;
  --primitive-smoke-950: #0a0a0b;
  --primitive-ash-50: #F7F7F7;
  --primitive-ash-100: #f5f5f5;
  --primitive-ash-200: #F0F0F0;
  --primitive-ash-300: #EBEBEB;
  --primitive-ash-400: #E6E6E6;
  --primitive-ash-500: #E0E0E0;
  --primitive-ash-600: #DBDBDB;
  --primitive-ash-700: #D6D6D6;
  --primitive-ash-800: #D1D1D1;
  --primitive-ash-900: #CCCCCC;
  --primitive-ash-950: #C7C7C7;

  --primitive-cherry-50: #F6D7D7;
  --primitive-cherry-100: #F2C3C3;
  --primitive-cherry-200: #EDAFAF;
  --primitive-cherry-300: #E58686;
  --primitive-cherry-400: #DC5E5E;
  --primitive-cherry-500: #D33636;
  --primitive-cherry-600: #A92B2B;
  --primitive-cherry-700: #7F2020;
  --primitive-cherry-800: #541616;
  --primitive-cherry-900: #3F1010;
  --primitive-cherry-950: #2A0B0B;

  --primitive-leaf-50: #9EE1B7;
  --primitive-leaf-100: #8CD5A8;
  --primitive-leaf-200: #7AC998;
  --primitive-leaf-300: #57B279;
  --primitive-leaf-400: #339A5A;
  --primitive-leaf-500: #0F833B;
  --primitive-leaf-600: #0C692F;
  --primitive-leaf-700: #094F23;
  --primitive-leaf-800: #063418;
  --primitive-leaf-900: #052712;
  --primitive-leaf-950: #031A0C;


  --text-font-weights-bold: Bold;
  --text-font-weights-thin: Thin;
  --text-font-weights-normal: Normal;
  --text-font-weights-semi-bold: SemiBold;
  --text-size-8: 0.5rem;
  --text-size-10: 0.625rem;
  --text-size-12: 0.75rem;
  --text-size-14: 0.875rem;
  --text-size-16: 1rem;
  --text-size-20: 1.25rem;
  --text-size-24: 1.5rem;
  --text-size-32: 2rem;
  --text-size-40: 2.5rem;
  --text-size-48: 3rem;
  --text-size-56: 3.5rem;
  --text-size-64: 4rem;
  --text-size-72: 4.5rem;
  --radius-none: 0;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-xl: 1.5rem;
  --radius-lg: 1rem;
  --radius-full: 624.9375rem;
  --border-width-0: 0;
  --border-width-2: 0.125rem;
  --border-width-4: 0.25rem;
  --border-width-8: 0.5rem;
  --border-width-1: 0.0625rem;
  --opacity-0: 0%;
  --opacity-10: 10%;
  --opacity-20: 20%;
  --opacity-30: 30%;
  --opacity-40: 40%;
  --opacity-50: 50%;
  --opacity-60: 60%;
  --opacity-70: 70%;
  --opacity-80: 80%;
  --opacity-90: 90%;
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-32: 8rem;
  --space-1-5: 0.375rem;
  --system: var(--figtree);
  --normal: 500;
  --medium: 600;
  --semi-bold: 700;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --tracking-normal: 0;
  --tracking-tight: -1%;
  --tracking-wide: 1%;
  --tracking-wider: 2%;
  --tracking-widest: 3%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  /* --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%; */
  /* --radius: 0.5rem; */

  --background: var(--primitive-ash-100);
  --container: var(--primitive-general-white);
  --layer-low: var(--primitive-ash-50);
  --layer-high: var(--primitive-ash-200);
  --layer-highest: var(--primitive-ash-50);
  --muted-foreground: var(--primitive-zinc-600);
  --success-foreground: var(--primitive-green-700);
  --info-foreground: var(--primitive-blue-600);
  --error-foreground: var(--primitive-red-700);
  --warning-foreground: var(--primitive-amber-700);
  --downtrend-foreground: var(--primitive-cherry-500);
  --uptrend-foreground: var(--primitive-leaf-500);
  --muted-border: var(--primitive-zinc-200);
  --muted: var(--primitive-ash-50);
  --border: var(--primitive-zinc-300);
  --popover: var(--layer-low);
  --popover-foreground: var(--primitive-zinc-900);
  --foreground: var(--primitive-zinc-900);
  --primary: var(--color-blue-500);
  --primary-foreground: var(--primitive-ash-50);
  --primary-hover: var(--color-blue-600);
  --primary-border: var(--color-blue-500);
  --ring: var(--primitive-zinc-600);
  --destructive: var(--primitive-red-500);
  --destructive-hover: var(--primitive-red-400);
  --destructive-foreground: var(--primitive-zinc-900);
  --accent: var(--primitive-zinc-200);
  --accent-foreground: var(--primitive-zinc-800);
  --inverse: var(--primitive-zinc-950);
  --inverse-foreground: var(--primitive-zinc-50);
  --status-info-background: var(--primitive-blue-600);
  --status-success-background: var(--primitive-green-600);
  --status-error-background: var(--primitive-red-600);
  --status-warning-background: var(--primitive-amber-600);
  --button-secondary-border: var(--primitive-zinc-500);
  --button-secondary-border-hover: var(--primitive-zinc-700);
  --button-secondary-foreground: var(--primitive-zinc-900);
  --button-secondary-foreground-hover: var(--primitive-zinc-700);
  --button-tertiary-background: var(--primitive-zinc-300);
  --button-tertiary-background-hover: var(--primitive-zinc-400);
  --button-tertiary-foreground: var(--primitive-zinc-900);
  /* --button-buy-border: var(--primitive-emerald-600);
    --button-buy-foreground: var(--primitive-emerald-700);
    --button-buy-border-hover: var(--primitive-emerald-500);
    --button-buy-foreground-hover: var(--primitive-emerald-500);
    --button-sell-border: var(--primitive-rose-500);
    --button-sell-foreground: var(--primitive-rose-600);
    --button-sell-border-hover: var(--primitive-rose-400);
    --button-sell-foreground-hover: var(--primitive-rose-400); */
  --button-link-foreground: var(--primitive-zinc-900);
  --button-link-foreground-hover: var(--primitive-zinc-700);
  --input-foreground: var(--primitive-zinc-900);
  --input-border: var(--primitive-zinc-500);
  --input-placeholder: var(--primitive-zinc-400);
  --input-border-active: var(--primitive-primary-500);
  --input-border-hover: var(--primitive-zinc-600);
  --input-border-danger: var(--primitive-red-500);
  --tab-background-hover: var(--primitive-zinc-50);
  --tab-background-active: var(--primitive-zinc-50);
  --tab-foreground: var(--primitive-zinc-600);
  --tab-foreground-hover: var(--primitive-zinc-700);
  --tab-foreground-active: var(--primitive-zinc-900);
  --shadow-sm: 0rem 0.125rem 0.375rem 0rem rgba(0, 0, 0, 0.04);
  --shadow-md: 0rem 0.375rem 1rem 0rem rgba(0, 0, 0, 0.04);
  --shadow-lg: 0rem 0.75rem 1.5rem 0rem rgba(0, 0, 0, 0.04);

  --loading: var(--primitive-zinc-300);
  --loading-foreground: var(--primitive-zinc-100);
  }
  .dark {
     --loading: var(--primitive-zinc-700);
    --loading-foreground: var(--primitive-zinc-500);
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    /* /* --chart-1: 220 70% 50%;
     --chart-2: 160 60% 45%;
     --chart-3: 30 80% 55%;
     --chart-4: 280 65% 60%;
     --chart-5: 340 75% 55%; */

    --background: var(--primitive-zinc-900);
    --container: var(--primitive-zinc-700);
    --layer-low: var(--primitive-smoke-700);
    --layer-high: var(--primitive-smoke-600);
    --layer-highest: var(--primitive-smoke-500);
    --foreground: var(--primitive-zinc-200);
    --muted-foreground: var(--primitive-zinc-400);
    --info-foreground: var(--primitive-blue-400);
    --error-foreground: var(--primitive-red-400);
    --warning-foreground: var(--primitive-amber-300);
    --success-foreground: var(--primitive-green-400);
    --uptrend-foreground: var(--primitive-emerald-500);
    --downtrend-foreground: var(--primitive-rose-500);
    --muted-border: var(--primitive-zinc-800);
    --border: var(--primitive-zinc-700);
    --popover: var(--layer-low);
    --popover-foreground: var(--primitive-zinc-200);
    --primary: var(--color-blue-300);
    --primary-hover: var(--color-blue-200);
    --primary-border: var(--color-blue-300);
    --primary-foreground: var(--primitive-smoke-800);
    --ring: var(--primitive-zinc-300);
    --destructive: var(--primitive-red-500);
    --destructive-hover: var(--primitive-red-400);
    --destructive-foreground: var(--primitive-zinc-900);
    --accent: var(--primitive-zinc-800);
    --accent-foreground: var(--primitive-zinc-300);
    --inverse: var(--primitive-zinc-50);
    --inverse-foreground: var(--primitive-zinc-950);
    --status-info-background: var(--primitive-blue-400);
    --status-error-background: var(--primitive-red-400);
    --status-warning-background: var(--primitive-amber-300);
    --status-success-background: var(--primitive-green-400);
    --button-secondary-border: var(--primitive-zinc-500);
    --button-secondary-border-hover: var(--primitive-zinc-400);
    --button-secondary-foreground: var(--primitive-zinc-50);
    --button-secondary-foreground-hover: var(--primitive-zinc-50);
    /* --button-buy-border: var(--primitive-emerald-500);
     --button-buy-foreground: var(--primitive-emerald-500);
     --button-buy-border-hover: var(--primitive-emerald-400);
     --button-buy-foreground-hover: var(--primitive-emerald-400);
     --button-sell-border: var(--primitive-rose-500);
     --button-sell-foregound: var(--primitive-rose-500);
     --button-sell-border-hover: var(--primitive-rose-400);
     --button-sell-foreground-hover: var(--primitive-rose-400); */
    --button-link-foreground: var(--primitive-zinc-50);
    --button-link-foreground-hover: var(--primitive-zinc-400);
    --button-tertiary-background: var(--primitive-zinc-800);
    --button-tertiary-background-hover: var(--primitive-zinc-700);
    --button-tertiary-foreground: var(--primitive-zinc-50);
    --input-border: var(--primitive-zinc-500);
    --input-border-active: var(--primitive-primary-300);
    --input-border-hover: var(--primitive-zinc-400);
    --input-foreground: var(--primitive-zinc-200);
    --input-placeholder: var(--primitive-zinc-500);
    --input-border-danger: var(--primitive-red-500);
    --tab-background-hover: var(--primitive-zinc-700);
    --tab-background-active: var(--primitive-zinc-700);
    --tab-foreground: var(--primitive-zinc-400);
    --tab-foreground-hover: var(--primitive-zinc-400);
    --tab-foreground-active: var(--primitive-zinc-200);
    --shadow-sm: 0rem 0.125rem 0.375rem 0rem rgba(0, 0, 0, 0.4);
    --shadow-md: 0rem 0.375rem 1rem 0rem rgba(0, 0, 0, 0.4);
    --shadow-lg: 0rem 0.75rem 1.5rem 0rem rgba(0, 0, 0, 0.4);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer utilities {
  :root {
    font-family: "Figtree", system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* font-family: 'PlusJakartaSans', 'Arial', sans-serif; */

    line-height: 1.5;
    font-weight: var(--medium);
    font-variant-numeric: tabular-nums;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */


@keyframes shimmer {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@layer components {

  [data-skeleton-loading="true"] {
    @apply !pointer-events-none !animate-[shimmer_2s_infinite_ease-in-out] !select-none rounded-[4px] !border-transparent !bg-transparent !decoration-clone !text-transparent !no-underline !shadow-none !outline-none ![background-image:linear-gradient(to_right,var(--loading)_33%,var(--loading-foreground),var(--loading)_66%)] ![background-size:300%] [&>*]:!invisible;
  }
  /* Headings */
  .btcm-heading-2xl {
    @apply text-pretty text-[2rem] font-semibold leading-tight tracking-tight;
  }

  .btcm-heading-xl {
    @apply text-pretty text-[1.5rem] font-semibold leading-tight tracking-tight;
  }

  .btcm-heading-lg {
    @apply text-pretty text-[1.25rem] font-semibold leading-tight tracking-normal;
  }

  .btcm-heading-md {
    @apply text-pretty text-[1rem] font-semibold leading-tight tracking-normal;
  }

  /*
   * Deprecated: use btcm-label-sm-semibold instead
   */
  .btcm-heading-sm {
    @apply text-pretty text-[0.875rem] font-semibold leading-tight tracking-normal;
  }

  /* Labels */
  .btcm-label-sm {
    @apply text-pretty text-[0.875rem] font-normal leading-tight tracking-wide;
  }

  .btcm-label-sm-semibold {
    @apply text-pretty text-[0.875rem] font-semibold leading-tight tracking-wide;
  }

  .btcm-label-xs {
    @apply text-pretty text-[0.75rem] font-normal leading-tight tracking-wider;
  }

  .btcm-label-xs-semibold {
    @apply text-pretty text-[0.75rem] font-semibold leading-tight tracking-wider;
  }

  .btcm-label-2xs-semibold {
    @apply text-pretty text-[0.625rem] font-semibold leading-tight
  }

  /* Body */
  .btcm-body-xs {
    @apply text-[0.75rem] font-normal leading-normal tracking-wider;
  }

  .btcm-body-sm {
    @apply text-[0.875rem] font-normal leading-normal tracking-widest;
  }

  .btcm-body-md {
    @apply text-[1rem] font-[var(--medium)] leading-normal;
  }

  /* Buttons */
  .btcm-button-sm {
    @apply text-[0.75rem] font-medium leading-none tracking-wide;
  }

  .btcm-button-md {
    @apply text-[1rem] font-medium leading-none tracking-wide;
  }

  /* Link
  .btcm-link {
    @apply text-foreground underline decoration-primary decoration-[0.2em] underline-offset-[0.3em] hocus:decoration-primary-hocus;
  } */
}

@font-face {
  font-family: 'Figtree';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Light';
 src: url('./fonts/Figtree-Light.woff2') format('woff2-variations'),
 url('./fonts/Figtree-Light.woff') format('woff-variations');
}
@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./fonts/Figtree-Regular.woff2') format('woff2-variations'),
  url('./fonts/Figtree-Regular.woff') format('woff-variations');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 600;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'Medium';
  src: url('./fonts/Figtree-Medium.woff2') format('woff2-variations'),
  url('./fonts/Figtree-Medium.woff') format('woff-variations');
}
@font-face {
  font-family: 'Figtree';
  font-weight: 700;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'SemiBold';
  src: url('./fonts/Figtree-SemiBold.woff2') format('woff2-variations'),
  url('./fonts/Figtree-SemiBold.woff') format('woff-variations');
}
@font-face {
  font-family: 'Figtree';
  font-weight: 800;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'Bold';
  src: url('./fonts/Figtree-Bold.woff2') format('woff2-variations'),
  url('./fonts/Figtree-Bold.woff') format('woff-variations');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Light';
 src: url('./fonts/PlusJakartaSans-Light.woff2') format('woff2-variations'),
 url('./fonts/PlusJakartaSans-Lightwoff') format('woff-variations');

}
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('./fonts/PlusJakartaSans-Regular.woff2') format('woff2-variations'),
  url('./fonts/PlusJakartaSans-Regular.woff') format('woff-variations');
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'SemiBold';
  src: url('./fonts/PlusJakartaSans-SemiBold.woff2') format('woff2-variations'),
  url('/fonts/PlusJakartaSans-SemiBold.woff') format('woff-variations');
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 700;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'Bold';
  src: url('./fonts/PlusJakartaSans-Bold.woff2') format('woff2-variations'),
  url('./fonts/PlusJakartaSans-Bold.woff') format('woff-variations');
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 800;
  font-display: swap;
  font-style:normal;
  font-named-instance: 'ExtraBold';
  src: url('./fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2-variations'),
  url('./fonts/PlusJakartaSans-ExtraBold.woff') format('woff-variations');
}


.recharts-wrapper {
  min-width: 100%;
  max-width: 100%;
}
.recharts-area {
  min-width: 100%;
}

.recharts-cartesian-axis-tick-line {
  display: none;
}

.recharts-yAxis {
  opacity: 1;
  width: 2rem;
  text-align: right;
}

.recharts-surface {
  display: flex;
  row-gap: 12px;
}